35-events-and-callbacks -> 34-events-and-callbacks
37-xkcd -> 49-xkcd
42-calculator -> 46-calculator
43-spinning-wheel -> 44-spinning-wheel
44-fibonacci -> 48-fibonacci
44-minesweeper -> 45-minesweeper
44-pythagore -> 48-pythagore
44-minesweeeper -> 45-minesweeper
44-tic-tac-toe -> 45-tic-tac-toe
51-jquery-colors -> 61-jquery-colors
52-bootstrap -> 62-bootstrap
